extends ../layout 


block content
    //- h2.text-primary Login Please 
    //- p hello wellcome
    //- form.form-inline(method="post", action="/users/login",enctype='multipart/form-data')
    //-     .form-group
    //-         input.form-control(name="username",type="text",placeholder="Enter your Username") 
    //-     .form-group
    //-         input.form-control(name="password",type="password",placeholder="Enter your password")       
    //-     input.btn.btn-primary(name="submit",type="submit", value="Login")  
    //-     a.btn.btn-link(href='/users/forgot') Forgot Password? 
    .container
        //-  ul.error
        //-     if error
        //-         li.alert.alert-danger #{error.msg}
        ul.errors
        if errors
            each error,i in errors
                li.alert.alert-danger #{error.msg}
        .omb_login.col-sm-offset-4
            a.btn.btn-primary(href='/users/register')
                i.fa.fa-user-plus
                |  Register
            br
            br

            .row.omb_row-sm-offset-3.omb_socialButtons
                .col-xs-4.col-sm-2.col-sm-offset
                    a.btn.btn-lg.btn-block.omb_btn-glyphiconcebook(href='#')
                        i.glyphicon.glyphicon-facebook.visible-xs
                        span.hidden-xs Facebook
                .col-xs-4.col-sm-2
                    a.btn.btn-lg.btn-block.omb_btn-twitter(href='#')
                        i.glyphicon.glyphicon-twitter.visible-xs
                        span.hidden-xs Twitter
                .col-xs-4.col-sm-2
                    a.btn.btn-lg.btn-block.omb_btn-google(href='#')
                        i.glyphicon.glyphicon-google-plus.visible-xs
                        span.hidden-xs Google+
            .row.omb_row-sm-offset-3.omb_loginOr
                .col-xs-12.col-sm-6
                    hr.omb_hrOr
                    span.omb_spanOr or
            .row.omb_row-sm-offset-3
                .col-xs-12.col-sm-6
                    form.omb_loginForm(method="post", action="/users/login",enctype='multipart/form-data')
                        .input-group
                            span.input-group-addon
                                i.glyphicon.glyphicon-user
                            input.form-control(name="username",type="text",placeholder="Enter your Username") 
                        span.help-block
                        .input-group
                            span.input-group-addon
                                i.glyphicon.glyphicon-lock
                            input.form-control(name="password",type="password",placeholder="Enter your password")
                            
                        span.help-block
                        input(type="hidden", name="_csrf", value="#{csrf}") 
                        button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
            .row.omb_row-sm-offset-3
                .col-xs-12.col-sm-3
                .col-xs-12.col-sm-3
                    p.omb_forgotPwd
                        a(href="/users/forgot") Forgot password?
